<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/home">
                <img src="{{ url_for('static', filename='images/lemon-icon.png') }}" alt="Juice Wallet Logo" class="logo">
            </a>
        </div>
        <ul class="navbar-links">
            <li><a href="/wallet">
                <p class='container'> Wallet Access <img src="{{ url_for('static', filename='images/access-wallet-icon.png') }}" alt="Lemon" width="32" height="32"> </p> 
                </a>
            </li>
        </ul>
        <ul class="navbar-links">
            <li><a href="/wallet-create"> 
                <p class='container'> Wallet Create <img src="{{ url_for('static', filename='images/create-wallet-icon.png') }}" alt="Lemon" width="32" height="32"> </p> 
                </a>
            </li>
        </ul>
        <div class="navbar-links">
            <li>
                <a href="/about">
                    <img src="{{ url_for('static', filename='images/about-icon.png') }}" alt="About Icon" class="navbar-logo-wallet">
                </a>
            </li>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
