{% extends 'base.html' %}

{% block head %}
    <title>Juice Wallet</title>
{% endblock %}

{% block body %}
   <div Class='container'> 
        <h1>Bem-vindo à página inicial da aplicação LemonBlock</h1>
        <h2>Uma prova de conceito para a Universidade Federal de Pelotas</h2>
        
        A UFPEL, renomada pela qualidade educacional e inovação, apresenta o LemonBlock, uma prova de conceito (PoC) que utiliza blockchain para aprimorar a eficiência em transações acadêmicas, como gestão de bolsas e pagamentos em restaurantes universitários.
        Este projeto detalhado abrange desde a concepção até a implementação da PoC, buscando maior eficiência, transparência e segurança. Junte-se a nós nesta jornada de inovação que moldará o futuro da UFPEL, impulsionando a excelência acadêmica e a transparência administrativa.         
   </div>
{% endblock %}