{% extends 'base.html' %}

{% block head %}
    <title>Juice Wallet</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Juice Wallet</h2>
        <form method="post" action="/login"> <!-- Replace "/login" with the actual URL where your login view is defined -->
            <input type="hidden" name="csrf_token" value="">
            <div class="form-group">
                <label for="username">Public Key:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}
