{% extends 'base.html' %}

{% block head %}
    <title>Juice Wallet</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Wallet</h1>
    <h2>Address: {{ address }}</h2>
    
    <div class='container'>
        <h2>Private Key: </h2>
        <p>{{ private_key }}</p>
    </div>
    
    <div class='container'>
        <h2>Public Key: </h2>
        <p>{{ public_key }}</p>
    </div>


    
    </form>
    <form method="post">
        <button type="submit" class="btn btn-primary">Create Wallet</button> 
    </form>
</div>
{% endblock %}