{% extends 'base.html' %}

{% block head %}
    <title>Juice Wallet</title>
{% endblock %}

{% block body %}
    <h1>Wallet</h1>
    <p>Balance: {{ balance }}</p>
    <p>Address: {{ address }}</p>
    <p>Private Key: {{ private_key }}</p>
    <p>Public Key: {{ public_key }}</p>
    <p>Transactions:</p>
    <ul>
        {% for transaction in transactions %}
            <li>{{ transaction }}</li>
        {% endfor %}
    </ul>
    </form>
    <form method="post">
        <button type="submit" class="btn btn-primary">Create Wallet</button> 
    </form>
{% endblock %}