<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/">
                <img src="{{ url_for('static', filename='images/lemon-icon.png') }}" alt="Juice Wallet Logo" class="logo">
            </a>
        </div>
        <ul class="navbar-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
